name: ML CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Train model
        run: python scripts/train.py

      - name: Show metrics
        run: cat metrics.json

      - name: Upload model & metrics as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: model-artifacts
          path: |
            model.pkl
            metrics.json


  deploy:
    needs: train
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: model-artifacts

      - name: Install jq
        run: sudo apt-get update && sudo apt-get install -y jq bc

      - name: Read metrics
        run: |
          echo "R2=$(jq -r .r2 metrics.json)" >> $GITHUB_ENV

      - name: Compare metrics
        run: |
          echo "Current R2 = $R2"
          echo "Best R2 = ${{ vars.BEST_R2 }}"

          if (( $(echo "$R2 <= ${{ vars.BEST_R2 }}" | bc -l) )); then
            echo "2022BCS0073 ---- Metric did not improve"
            exit 0
          else
            echo "Metric improved! Deploying model..."
          fi

      - name: Login to DockerHub
        run: echo "${{ secrets.DOCKER_AT }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/lab4-mlops:latest .

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/lab4-mlops:latest
